<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="reset.css" type="text/css" />
   <!-- <link rel="stylesheet" href="normalize.css" type="text/css"/> -->
   <link rel="stylesheet" href="index.css" type="text/css" />
   <link rel="stylesheet" href="media.css" type="text/css" />
   <link rel="stylesheet" href="fontawesome/css/all.css">
   <title>CarRent</title>
   <script> </script>
</head>

<body>
   <header>
      <div class="carrent-and-logo">
         <a href="index.html">
            <div class="CarRentLogo"></div>
         </a>

         <div class="divlogo">
            <a href="" class="fab fa-vk fa-3x"></a>
            <a href="" class="fab fa-viber fa-3x"></a>
            <a href="" class="fab fa-whatsapp fa-3x"></a>
         </div>
      </div>

      <div id="block2">
         <nav>
            <div class="button-item">
               <a class="btn-1" href="catalog.html">Каталог</a>
               <a href="rent_condition.html" class="btn-1">Условия</a>
               <a href="contact.html" class="btn-1">Контакты</a>
               <a href="review.html" class="btn-1">Отзывы</a>
               <a href="pay.html" class="btn-1">Оплата</a>
            </div>
         </nav>
      </div>

      <div id="block3">
         <a href="login_order.html">
            <i class="fas fa-user-circle fa-3x"></i>
            <figcaption>Войти</figcaption>
         </a>
      </div>

      <div id="block4">
         <div class="phone">
            <i class="fas fa-phone-alt fa-2x "></i>
            <p>+79241628365</p>
         </div>

         <button class="Buttonrequest">Оставить заявку</button>

      </div>
   </header>
  
  
   <header class="mobile_header">
      <div id="block4">
         <div class="phone">
            <i class="fas fa-phone-alt fa-2x "></i>
            <p>+79241628365</p>
         </div>

         <button class="Buttonrequest">Оставить заявку</button>

      </div>
      <div class="carrent-and-logo">
         <a href="index.html">
            <div class="CarRentLogo"></div>
         </a>
      </div>
         <div id="block3">
            <a href="login_order.html">
               <i class="fas fa-user-circle fa-3x"></i>
            </a>
         </div>

         <nav class="mobile-menu">
            <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
            <label for="checkbox" class="mobile-menu__btn"><div class="mobile-menu__icon"></div></label>
            <div class="mobile-menu__container">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a href="catalog.html" class="mobile-menu__link">Каталог</a></li>
                <li class="mobile-menu__item"><a href="rent_condition.html" class="mobile-menu__link">Условия</a></li>
                <li class="mobile-menu__item"><a href="contact.html" class="mobile-menu__link">Контакты</a></li>
                <li class="mobile-menu__item"><a href="review.html" class="mobile-menu__link">Отзывы</a></li>
                <li class="mobile-menu__item"><a href="pay.html" class="mobile-menu__link">Оплата</a></li>
                <li class="mobile-menu__item"><a href="login_order.html" class="fas fa-user-circle fa-1x"></a><a href="login_order.html"mobile-menu__link">Войти</a></li>
                <button class="Buttonrequest">Оставить заявку</button>
                <li class="mobile-menu__item"><a class="mobile-menu__link">+79241346928</a></li>
            </ul>
            </div>
        </nav>




         <div>
            <!-- <a class="fas fa-align-justify fa-3x"></a> -->
         </div>
   </header>

   <main>
      <div id="main-container">
         <div class="bread2">
            <ul class="breadcrumbs">
               <li class="breadcrumbs-item">
                  <a class="breadcrumbs-link" href="index.html">Главная</a>
               </li>
               <li class="breadcrumbs-item">
                  <span class="breadcrumbs-link  current">Каталог</span>
               </li>
            </ul>
         </div>

         <!-- Аренда для ваших целей -->
         <h1 class="MainHeader">Выберите интересующую вас категорию</h2>
            <div class="RentCategory">
               <div class="Types">
                  <a href="carlist.html">
                     <figure>
                        <img src="./logo_pictures/sedan-car-front.png" alt="Легковые" width="70%">
                        <!-- <i class="fas fa-car fa-6x"></i> -->
                        <figcaption>Легковые</figcaption>
                     </figure>
                  </a>

                  <a href="">
                     <figure>
                        <img src="./logo_pictures/truck.png" alt="Грузовые" width="70%">
                        <!-- <i class="fas fa-truck fa-6x"></i> -->
                        <figcaption>Грузовые</figcaption>
                     </figure>
                  </a>

                  <a href="">
                     <figure>
                        <img src="./logo_pictures/bus.png" alt="Автобусы" width="70%">
                        <figcaption>Автобусы</figcaption>
                        <!-- <i class="fas fa-bus fa-6x"></i> -->
                     </figure>
                  </a>
                  <!-- </div> -->

                  <!-- <div class="Types"> -->
                  <a href="">
                     <figure>
                        <img src="./logo_pictures/evacuator.png" alt="Эвакуаторы" width="70%">
                        <figcaption>Эвакуаторы</figcaption>
                     </figure>
                  </a>

                  <a href="">
                     <figure>
                        <img src="./logo_pictures/car3.png" alt="Для мероприятий" width="70%">
                        <figcaption>Для мероприятий</figcaption>
                     </figure>
                  </a>

                  <a href="">
                     <figure>
                        <img src="./logo_pictures/excavator.png" alt="Спецтехника" width="70%">
                        <figcaption>Спецтехника</figcaption>
                     </figure>
                  </a>
               </div>
            </div>



      </div>
   </main>

   <footer>
      <div class="carrent-and-logo">
         <a href="index.html">
            <div class="CarRentLogo"></div>
         </a>
         
         <div class="divlogo">
            <a href="" class="fab fa-vk fa-3x"></a>
            <a href="" class="fab fa-viber fa-3x"></a>
            <a href="" class="fab fa-whatsapp fa-3x"></a>
         </div>

         <div id="block5">
            <div class="phonefooter">
               <i class="fas fa-phone-alt fa-2x "></i>
               <aside>+79241628365</aside>
            </div>
            <div id="mail">
               <i class="fas fa-envelope fa-2x"></i>
               <aside>carrent@mail.com</aside>
            </div>
         </div>
      </div>

      <div class="links">
         <a href="pay.html">Оплата</a>
         <a href="contact.html">Контакты</a>
         <a href="catalog.html">Каталог</a>
      </div>

      <div class="links">
         <a href="review.html">Отзывы</a>
         <a href="rent_condition.html">Условия</a>
         <a href="">О нас</a>
      </div>

      <div class="social">
         <div class="Share">
            <h2>Расскажите о нас &nbsp;</h2>
            <i class="fas fa-share-alt fa-3x"></i>
         </div>

         <div class="divlogo">
            <a href="" class="fab fa-vk fa-3x"></a>
            <a href="" class="fab fa-viber fa-3x"></a>
            <a href="" class="fab fa-whatsapp fa-3x"></a>
            <a href="" class="fab fa-telegram fa-3x"></a>
         </div>
      </div>
   </footer>

</body>

</html>