{% extends 'main/pattern.html' %}
{% load static %}
{% block title %}
Контакты CarRent
{% endblock %}
{% block description %}
<meta name="description" content="
Предоставление услуг по аренде автомобилей в Курске. Главная компания по прокату авто.">
{% endblock %}
{% block openg %}
    <meta property="og:title" content="Контакты компании CarRent" />
    <meta property="og:description" content="Предоставление услуг по аренде автомобилей в Курске.nt. 
Аренда авто разных категорий CarRent Иркутск." />
    <meta property="og:site_name" content="Аренда автомобилей CarRent Иркутск" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
{% endblock %}
{% block jsonld %}
<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Контакты компании CarRent",
  "alternateName": "Аренда автомобилей CarRent",
  "url": ""
}
 </script>
{% endblock %}
{% block content %}
  <main>
      <div id="main-container">
         <div class="bread2">
            <ul class="breadcrumbs">
               <li class="breadcrumbs-item">
                  <a class="breadcrumbs-link" href="index.html">Главная</a>
               </li>
               <li class="breadcrumbs-item">
                  <span class="breadcrumbs-link  current">Контакты</span>
               </li>
            </ul>
         </div>
         <h1>Контактные данные CarRent</h1>
         <div class="BoxContact">
            <div itemscope itemtype="http://schema.org/Organization" class="Contact">
               <p itemprop="name">CarRent</p>
               <p itemprop="address">Курск, ул. Радищева 66</p>
               <p itemprop="telephone">+79241323456</p>
               <p itemprop="telephone">+79249846134</p>
               <p itemprop="email">E-mail: infocarrent@mail.ru</p>
               <p>Мы работаем без обеда и выходных:</p>
               <p>Пн-Вс с 10:00-19:00</p>
            </div>
            <div class="Feedback">
               <h2 class="MainHeader">Написать нам письмо</h2>
               <form action="{% url 'contact_add_feedback'%}" method="POST" class="form_mail">
                  {% csrf_token %}
                  <div class="input_mail">
                     <p><input type="text" placeholder="Ваше имя" name="Name"  required></p>
                     <p><input type="text" placeholder="Телефон или E-mail" name="PhoneEmail" required></p>
                     <p><input type="submit" value="Отправить"></p>
                  </div>
                  <div class="textarea_mail">
                     <textarea placeholder="Сообщение" name="Message" required maxlength="250"></textarea>
                     <p><input type="submit" name="contact" value="Отправить"></p>
                  </div>
               </form>
            </div>
         </div>
         <div class="yamap_contact">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/8/kursk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Курск</a><a href="https://yandex.ru/maps/8/kursk/house/ulitsa_radishcheva_66/Z08Ydw9pTUAPQFtrfXt1cnlibA==/?ll=36.190039%2C51.743407&utm_medium=mapframe&utm_source=maps&z=18.13" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Радищева, 66 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=36.190039%2C51.743407&mode=whatshere&whatshere%5Bpoint%5D=36.189613%2C51.743470&whatshere%5Bzoom%5D=17&z=18.13" width="100%" height="450" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
      </div>
   </main>
   {% endblock %}
